.wrapper {
    background-color: #ECF5FA;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.rest {
    border-bottom: 1px solid #0c09b3b7;
    flex: 1;
}

.headerItem {
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #0c09b3b7;
    cursor: pointer;
    color: #0c09b3b7;
}

.headerItem.active {
    color: white;
    background-color: #0c09b3b7;
    border-radius: 3px 3px 0 0;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
}